{% extends 'base.html.twig' %}

{% block title %}Status search accommodation{% endblock %}

{% block stylesheets %}
	{{ parent() }}
  {{ datatable_css|raw }}
{% endblock %}

{% block body %}
  <div class="container-fluid">
	
    <h1>Status <small>alpha</small></h1>
    <p class="lead">Use this tool to check for the usual suspects as to why an accommodation is not showing.</p>

    <hr>

    {% block search_form %}
      {% include "status/formular.html.twig" %}
    {% endblock %}
  
    {% if results is not empty %}
    
      <div class="mt-5">
        <table id="search" class="table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Code</th>
              <th>Accommodation</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              {% set local_search = search|merge({'accom_cd':result.ACCOM_CD}) %}
              <tr>
                <td><a style="color:#306aaa;" href="{{ path('status', local_search) }}">{{ result.ACCOM_CD }}</a></td>
                <td>{{ result.ACCOM }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  
  </div>
{% endblock %}


{% block javascripts_footer %}
  {{ parent() }}
  {{ datatable_js|raw }}

	<script type="text/javascript">
    $(document).ready(function() {
      var datepicker_options = {
        format: 'dd-M-yyyy',
        autoclose: true,
        weekStart: 1
      };
      
      $('#arrivalDateInput').datepicker(datepicker_options);
      
			$('#search').DataTable({});
      
		});
	</script>
{% endblock %}