{% extends 'base.html.twig' %}

{% block title %}Log{% endblock %}

{% block stylesheets %}
	{{ parent() }}
  {{ datatable_css|raw }}
  <style>
    #log, #log_batch {
      font-size:0.8em;
    }  
  </style>
{% endblock %}


{% block body %} 
    {% if from_date is not empty %}        
        <h6><sapn class='allign_test'>Sell rule log change {{ from_date| date('d-M-Y') }} and {{ to_date| date('d-M-Y') }}</span></h6>
    {% else %}
        <h6><sapn class='allign_test'>Sell rule log</span></h6>
    {% endif %}
    
    {% if batchData|length %}
        <table id="log" class="table table-sm table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Updated Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in batchData %}              
            <tr class="">
              <td>{{ reservation.username }}</td>
              <td>{{ reservation.CycleDt|date('m-d-Y') }}</td>
              
              {% if reservation.hide_empty is empty and reservation.hide_off is empty and reservation.always_show is empty %}
                <td>{{ reservation.depCd}} / {{ reservation.arrCd }} / {{ reservation.headCd }}  / {{ reservation.direction }} / {{ reservation.rule }}&nbsp;<a style="color:#306aaa;"  href='{{ path('inventory_flight_sellrules') }}?curDate={{ reservation.CycleDt|date('d-M-Y') }}&dep_cd={{ reservation.depCd}}&arr_cd={{ reservation.arrCd }}&head_cd={{ reservation.headCd }}&st_dt={{ reservation.stDt|date('d-M-Y') }}&end_dt={{ reservation.endDt|date('d-M-Y') }}&prc_lvl={{ reservation.prcVal }}'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>                                           
              {% elseif reservation.hide_off is empty and reservation.always_show is empty %}
                <td>{{ reservation.depCd}} / {{ reservation.arrCd }} / {{ reservation.headCd }}  / {{ reservation.direction }} / {{ reservation.rule }}&nbsp;<a style="color:#306aaa;"  href='{{ path('inventory_flight_sellrules') }}?curDate={{ reservation.CycleDt|date('d-M-Y') }}&dep_cd={{ reservation.depCd}}&arr_cd={{ reservation.arrCd }}&head_cd={{ reservation.headCd }}&st_dt={{ reservation.stDt|date('d-M-Y') }}&end_dt={{ reservation.endDt|date('d-M-Y') }}&prc_lvl={{ reservation.prcVal }}&hide_empty={{ reservation.hide_empty }}'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>                           
                {% elseif reservation.hide_empty is empty and reservation.always_show is empty %} 
                <td>{{ reservation.depCd}} / {{ reservation.arrCd }} / {{ reservation.headCd }}  / {{ reservation.direction }} / {{ reservation.rule }}&nbsp;<a style="color:#306aaa;"  href='{{ path('inventory_flight_sellrules') }}?curDate={{ reservation.CycleDt|date('d-M-Y') }}&dep_cd={{ reservation.depCd}}&arr_cd={{ reservation.arrCd }}&head_cd={{ reservation.headCd }}&st_dt={{ reservation.stDt|date('d-M-Y') }}&end_dt={{ reservation.endDt|date('d-M-Y') }}&prc_lvl={{ reservation.prcVal }}&hide_off={{ reservation.hide_off }}'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>                           
                {% elseif reservation.hide_empty is empty and reservation.hide_off is empty %}
                <td>{{ reservation.depCd}} / {{ reservation.arrCd }} / {{ reservation.headCd }}  / {{ reservation.direction }} / {{ reservation.rule }}&nbsp;<a style="color:#306aaa;"  href='{{ path('inventory_flight_sellrules') }}?curDate={{ reservation.CycleDt|date('d-M-Y') }}&dep_cd={{ reservation.depCd}}&arr_cd={{ reservation.arrCd }}&head_cd={{ reservation.headCd }}&st_dt={{ reservation.stDt|date('d-M-Y') }}&end_dt={{ reservation.endDt|date('d-M-Y') }}&prc_lvl={{ reservation.prcVal }}&always_show={{ reservation.always_show }}'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>                                           
                {% else %}
                    <td>{{ reservation.depCd}} / {{ reservation.arrCd }} / {{ reservation.headCd }}  / {{ reservation.direction }} / {{ reservation.rule }}&nbsp;<a style="color:#306aaa;"  href='{{ path('inventory_flight_sellrules') }}?curDate={{ reservation.CycleDt|date('d-M-Y') }}&dep_cd={{ reservation.depCd}}&arr_cd={{ reservation.arrCd }}&head_cd={{ reservation.headCd }}&st_dt={{ reservation.stDt|date('d-M-Y') }}&end_dt={{ reservation.endDt|date('d-M-Y') }}&prc_lvl={{ reservation.prcVal }}&hide_empty={{ reservation.hide_empty }}&hide_off={{ reservation.hide_off }}&always_show={{ reservation.always_show }}'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>                           
              {% endif %}
              
              <td>{{ reservation.stDt|date('m-d-Y') }}</td>
              <td>{{ reservation.endDt|date('m-d-Y') }}</td>
              <td>{{ reservation.update_dt_tm }}</td>
              <td align="center">{{ reservation.change_status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <span class="no_found">No log found.</span>
    {% endif %}
{% endblock %}


{% block javascripts_footer %}
  {{ parent() }}
  {{ datatable_js|raw }}

	<script type="text/javascript">
    $(document).ready(function() {
			var table = $('#log').DataTable({
        'order': [[ 5, 'desc' ]]
			});
      
      // Modal for results
      $('#logModal').on('show.bs.modal', function (event) {
        var link = $(event.relatedTarget);

        var modal = $(this);
        modal.find('.modal-title').text('Batch id: ' + link.data('batch-id'));
        modal.find('.modal-body').html('<p>Please wait while the batch is fetched...</p>');
        modal.find('.modal-body').load('{{ path("yield_packages_log_batch_modal") }}?batch_id=' + link.data('batch-id'));
      });
      
		});
	</script>
{% endblock %}
